{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-appointment {% block title %}{% endblock %} </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>

   <div class="container mt-4">
        <div class="row">
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="{% url 'my_appointments' %}">Appointments</a></li>
                        <li class="breadcrumb-item" aria-current="page">Edit Appointment</li>
                    </ol>
                </nav>
            </div>
            {% comment %} <div class="col-md-2">
                <a href="{% url 'add_appointment' %}" class="btn btn-primary">Add Appointment</a>
            </div> {% endcomment %}
        </div>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'edit_appointment' appointment.id %}" method="post">
                    {% include "common/messages.html" %}
                    {% csrf_token %}

                    <div class="form-group">
                        {% comment %} <label for="">Name</label>
                        <input type="text" class="form-control-sm" name="name" value = "{{values.name}}"> {% endcomment %}
                        <label for="">Description</label>
                        <input type="text" class="form-control-sm" name="description" value = "{{values.description}}">
                        <label for="">Category</label>
                        <select class="form-control" name="category">
                            <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                            {% for category in categories %}
                                <option name="category" value="{{category.name}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                        <label for="">Date</label>
                        <input value="{{values.date |date:'Y-m-d'}}" type="date" class="form-control-sm" name="date">
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary btn-primary-sm">
                </form>
                
            </div>
        </div>
        
   </div>

    
    
    <!-- custom js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
