{% extends "base-auth.html" %}

{% load static %}
{% block content %}
      
<div class="contact-box">
    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}
        {% include 'common/messages.html' %}

        <h2 class="heading">Log<span>in</span></h2>
        <div class="field-box">
            <input name="username" id="username-field" type="text" placeholder="Username" required>

            <input name="password" id="password-field" type="password" placeholder="Password" required>
            <h3 class="show-password">Show</h3>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>

<script src="{% static 'js/auth.js' %}"></script>
        
{% endblock %}