{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout-the-itvet.com {% block title %}{% endblock %} </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.1.0/typed.umd.js" integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/auth.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"> {% endcomment %}

</head>

<body>   

    <div class="auth-container">

        {% block content %}
        

        {% endblock %}
    </div>
    
    <!-- custom js -->
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>